/*Maak hier jouw CSS!*/

body {
    display:grid;
    background: hsl(63, 91%, 82%);
    gap: 16px;
    margin: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 174px 100px auto 50px;
    grid-template-areas:
    "header grote-rechthoek grote-rechthoek"
    "text grote-rechthoek grote-rechthoek"
    "text vierkant kleine-rechthoek"
    "text vierkant leeg"
    "footer footer footer";
}

header {
    grid-area: header;
    display: flex;
    background: hsl(0, 100%, 64%);
    border-color: hsl(0, 100%, 0%);
    border-style: solid;
    justify-content: center;
    align-items: center;
}

.text{
    grid-area: text;
    display: flex;
    background: hsl(0, 100%, 64%);
    border-color: hsl(0, 100%, 0%);
    border-style: solid;
}

.kleine-rechthoek{
    grid-area: kleine-rechthoek;
    display: flex;
    background: hsl(0, 100%, 64%);
    border-color: hsl(0, 100%, 0%);
    border-style: solid;
    justify-content: center;
    align-items: center;
}

.grote-rechthoek {
    grid-area: grote-rechthoek;
    display: flex;
    background: hsl(0, 100%, 64%);
    border-color: hsl(0, 100%, 0%);
    border-style: solid;
    justify-content: center;
    align-items: center;
}

.vierkant {
    grid-area: vierkant;
    display: flex;
    background: hsl(0, 100%, 64%);
    border-color: hsl(0, 100%, 0%);
    border-style: solid;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
    display: flex;
    background: hsl(0, 100%, 64%);
    border-color: hsl(0, 100%, 0%);
    border-style: solid;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 375px) {
    body {
        grid-template-rows: 50px auto 50px 50px 50px 50px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "header"
        "text"
        "kleine-rechthoek"
        "grote-rechthoek"
        "vierkant"
        "footer"
    ;
    }
}